<p id="notice"><%= notice %></p>
 <div class="container">
   <div class="row">
     <div class="col-lg-10 mx-md-auto">
       <h1>Books</h1>
       <%= link_to 'New Book', new_book_path, class: "btn btn-info mb-4", data: {bs_toggle: 'modal', bs_target: '#newBookModal', remote: true } %>
       <table class="table table-hover table-bordered">
         <thead>
         <tr>
           <th>Name</th>
           <th>Price</th>
           <th colspan="3"></th>
         </tr>
         </thead>
         <tbody id="booksTable">
         <% @books.each do |book| %>
           <%= render 'book_row', book: book %>
         <% end %>
         </tbody>
       </table>
     </div>
   </div>
 </div>

<!-- Modal -->
<div class="modal fade" id="newBookModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="newBookForm">
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editBookModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="editBookForm">
      </div>
    </div>
  </div>
</div>